* {
    font : normal normal normal 24px/24px Helvetica Neue;
    color: #2EB738;
}

.container {
    width     : 1280px;
    height    : 1372px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    display   : flex;
    flex-flow : column;
}

.contentContainer {
    width    : 100%;
    height   : 1338px;
    margin   : 30px 55px;
    display  : flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.title {
    margin-left    : 25px;
    width          : 300px;
    height         : 300px;
    display        : flex;
    flex-flow      : column;
    justify-content: center;
    align-items    : center;
}

h1 {
    font-size  : 56px;
    font-weight: bold;
    font-family: PingFang TC;
    line-height: 0px;
}

p {
    font            : normal normal normal 24px/36px Helvetica Neue;
    line-height     : 0px;
}

.block {
    width  : 350px;
    height : 354px;
    padding: 40px 15px;
}

.divider {
    width          : 100%;
    height         : 28px;
    display        : flex;
    justify-content: center;
    flex-flow      : row;
    align-items    : center;
    text-align     : center;
}

.line {
    width           : 300px;
    height          : 0px;
    border          : 1px solid #2EB738;
    background-color: #2EB738;
}

.lineX {

    width         : 14px;
    height        : 28px;
    text-align    : left;
    letter-spacing: 0px;
    font          : normal normal normal 24px/24px Helvetica Neue;
    opacity       : 1;
    margin        : 10px;
}


.itemContainer {
    width        : 290px;
    height       : 250px;
    background   : #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow   : 0px 3px 10px #D8D8D8;
    border-radius: 100px 0px 30px 0px;
    display      : flex;
    flex-flow    : column;
    flex-wrap    : wrap;
    padding      : 50px 30px;
}

.multiplicand {
    width      : 80px;
    height     : 80px;
    font       : normal normal bold 120px/120px Helvetica Neue;
    margin     : 0px 10px 45px 30px;
    text-align : left;
    text-shadow: 4px 3px 0px #F0F0F0;
}

.item {
    height     : 35px;
    width      : 118px;
    text-align : left;
    margin-top: 5px;
    margin-left: 15px;
    font       : normal normal normal 24px/24px Helvetica Neue;
}

.footer {
    background: #2EB738 0% 0% no-repeat padding-box;
    width     : 1280px;
    height    : 34px;
}

.footerText {
    color    : #F0F0F0;
    font-size: 16px;
    margin   : 8px 85px 8px 843px;
}